.change_password{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit__profile_form{
    width: 340px;
}

label{
    font-size: 12px;
}

.input__newPassword{
    margin-left: 67px;
}

.input__oldPassword{
 margin-left: 67px;
}

input{
    width: 170px;
}